# ---------- Start Properties APP ----------
# Settings Application
APP_NAME="Aplicacion"

# Settings Environment
# Values: dev, stag, prod
APP_ENV=dev

# Settings SonarQube
# SONAR_HOST_URL=http://localhost:0000
# SONAR_TOKEN=*********
# SONAR_CTO=1s
# SONAR_RTO=2s

# Settings Time Zone
# Value: IANA time zone identifier
TIME_ZONE=America/Bogota
# Value: IANA time zone source file
TZ_SOURCE=tzdb-2026c.tar.lz

# Settings Logging Level Root
# Values: ALL | TRACE | DEBUG | INFO | WARN | ERROR
LOG_ROOT=WARN
LOG_CODE=WARN
# ---------- Start Properties APP ----------





# ---------- Start Properties Test ----------
# Settings Data MySQL
DV_DB_SERVICE=MySQL
DV_DB_USER=*********
DV_DB_PASS=*********
DV_DB_DRIVER=com.mysql.cj.jdbc.Driver
DV_DB_URL=jdbc:mysql://127.0.0.1:3306/database

# Settings Data Oracle
# DV_DB_SERVICE=Oracle
# DV_DB_USER=*********
# DV_DB_PASS=*********
# DV_DB_DRIVER=oracle.jdbc.OracleDriver
# DV_DB_URL=jdbc:oracle:thin:@127.0.0.1:1521:xe

# Settings Data PostgreSQL
# DV_DB_SERVICE=PostgreSQL
# DV_DB_USER=*********
# DV_DB_PASS=*********
# DV_DB_DRIVER=org.postgresql.Driver
# DV_DB_URL=jdbc:postgresql://127.0.0.1:5432/database

# Settings JPA
# Values: none, validate, update, create, create-drop
DV_JPA_DDL=update

# Settings Server
DV_SRV_PORT=8001

# Settings Documentation
# Values: true, false
DV_DOC=true

# Settings Redis
DV_REDIS_HOST=127.0.0.1
DV_REDIS_PORT=36371
# Values: JSON, BASE64
DV_REDIS_FORMAT=JSON

# Settings Zipkin
# Values protocol: http, https
# CTO: timeout de conexión | RTO: timeout de lectura
# SAMPLE: proporción de trazas enviada a Zipkin (0.0 a 1.0)
DV_ZIPKIN_PTCL=http
DV_ZIPKIN_HOST=127.0.0.1
DV_ZIPKIN_PORT=39411
DV_ZIPKIN_CTO=1s
DV_ZIPKIN_RTO=1s
DV_ZIPKIN_SAMPLE=1.0
# ---------- Final Properties Test ----------





# ---------- Start Properties Stag ----------
# Settings Data MySQL
SG_DB_SERVICE=MySQL
SG_DB_USER=*********
SG_DB_PASS=*********
SG_DB_DRIVER=com.mysql.cj.jdbc.Driver
SG_DB_URL=jdbc:mysql://127.0.0.1:3306/database

# Settings Data Oracle
# SG_DB_SERVICE=Oracle
# SG_DB_USER=*********
# SG_DB_PASS=*********
# SG_DB_DRIVER=oracle.jdbc.OracleDriver
# SG_DB_URL=jdbc:oracle:thin:@127.0.0.1:1521:xe

# Settings Data PostgreSQL
# SG_DB_SERVICE=PostgreSQL
# SG_DB_USER=*********
# SG_DB_PASS=*********
# SG_DB_DRIVER=org.postgresql.Driver
# SG_DB_URL=jdbc:postgresql://127.0.0.1:5432/database

# Settings JPA
# Values: none, validate, update, create, create-drop
SG_JPA_DDL=update

# Settings Server
SG_SRV_PORT=8005

# Settings Documentation
# Values: true, false
SG_DOC=true

# Settings Redis
SG_REDIS_HOST=127.0.0.1
SG_REDIS_PORT=36375
# Values: JSON, BASE64
SG_REDIS_FORMAT=JSON

# Settings Zipkin
# Values protocol: http, https
# CTO: timeout de conexión | RTO: timeout de lectura
# SAMPLE: proporción de trazas enviada a Zipkin (0.0 a 1.0)
SG_ZIPKIN_PTCL=http
SG_ZIPKIN_HOST=127.0.0.1
SG_ZIPKIN_PORT=39415
SG_ZIPKIN_CTO=1s
SG_ZIPKIN_RTO=1s
SG_ZIPKIN_SAMPLE=1.0
# ---------- Final Properties Stag ----------





# ---------- Start Properties Prod ----------
# Settings Data MySQL
PD_DB_SERVICE=MySQL
PD_DB_USER=*********
PD_DB_PASS=*********
PD_DB_DRIVER=com.mysql.cj.jdbc.Driver
PD_DB_URL=jdbc:mysql://127.0.0.1:3306/database

# Settings Data Oracle
# PD_DB_SERVICE=Oracle
# PD_DB_USER=*********
# PD_DB_PASS=*********
# PD_DB_DRIVER=oracle.jdbc.OracleDriver
# PD_DB_URL=jdbc:oracle:thin:@127.0.0.1:1521:xe

# Settings Data PostgreSQL
# PD_DB_SERVICE=PostgreSQL
# PD_DB_USER=*********
# PD_DB_PASS=*********
# PD_DB_DRIVER=org.postgresql.Driver
# PD_DB_URL=jdbc:postgresql://127.0.0.1:5432/database

# Settings JPA
# Values: none, validate, update, create, create-drop
PD_JPA_DDL=update

# Settings Server
PD_SRV_PORT=8009

# Settings Documentation
# Values: true, false
PD_DOC=false

# Settings Redis
PD_REDIS_HOST=127.0.0.1
PD_REDIS_PORT=36379
# Values: JSON, BASE64
PD_REDIS_FORMAT=JSON

# Settings Zipkin
# Values protocol: http, https
# CTO: timeout de conexión | RTO: timeout de lectura
# SAMPLE: proporción de trazas enviada a Zipkin (0.0 a 1.0)
PD_ZIPKIN_PTCL=http
PD_ZIPKIN_HOST=127.0.0.1
PD_ZIPKIN_PORT=39419
PD_ZIPKIN_CTO=1s
PD_ZIPKIN_RTO=1s
PD_ZIPKIN_SAMPLE=0.1
# ---------- Final Properties Prod ----------
